/* Styling goes in this file */

body {
	font-family: Arial;

}

.info {
	text-align: center;
}

.la-header {
	text-align: left;
}

table, tr, td {
  border: 1px solid black;
}

.body {
	padding: 0;
	margin: 0;
}

.images {
	display: flex;
	flex-direction: row;
}

.column1 {
	width: 65%;
	height: 100vh;
	text-align: center;
}

.column2 {
	width: 65%;
	text-align: center;	
	height: 100vh;
}

.charts {
	text-align: left;
	color: blue;
}

#decoration {
	position: relative;
	top: 100px;
}

#footer {
	position: relative;
	top: 100px;
}